
/* apparition - disparitions liste secteur */

.lSecteur1{
    opacity: 1;
    transition: .3s ;

}
.lSecteur1:hover{
    opacity: 0;
    transition: .3s ;

}

/* zoom - dezoom logo */

.iLogoZoo{
    border-radius: 30px;
    background-color: #1c202b;
    border: solid 3px #1c202b ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.iLogoZoo:hover{
    border-radius: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* Titre principale site  */

.TitleSite1{
    color:#1c202b !important;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: roboto;
    font-size: 50px;
}

/* Couleur Background */ 

body {
    background-color: #f1f1f1 !important;
}

.LinkToForm{
    padding-top: 25px;
    padding-left: 30px;;
}
