body {
    background-color: #1c202b !important;
}
.dForm{
    
    color :white;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.h1title1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
   
}



.RatioInput1{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.RatioInput1:hover{
    font-size: 20px;
    -webkit-transform: scale(1.02);
	transform: scale(1.02);
}


.RatioInput2{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.RatioInput2:hover{
    font-size: 20px;
    -webkit-transform: scale(1.02);
	transform: scale(1.02);
}


.RatioInput3{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.RatioInput3:hover{
    font-size: 20px;
    -webkit-transform: scale(1.02);
	transform: scale(1.02);
}


.RatioInput4{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.RatioInput4:hover{
    font-size: 20px;
    -webkit-transform: scale(1.02);
	transform: scale(1.02);
}


.RatioInput5{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.RatioInput5:hover{
    font-size: 20px;
    -webkit-transform: scale(1.02);
	transform: scale(1.02);
}